body{
    background-color: rgb(252, 242, 255);
}
h1,h2,p, a{
display: flex;
justify-content: center;
   color: rgb(216, 45, 93);
}
h1{
    font-size: 4em;
    border: 2px solid rgb(255, 187, 198);
    background-color: rgb(250, 188, 209);
    border-radius: 20px;
}

h2{
    font-size: 2em;
}
.collection-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
 
}
.collection-panel,
.collection-panel img{
    border-radius: 13px;
}

.collection-panel {
    color:rgb(216, 45, 93);
    width:27%;
    padding: 10px;
    margin: 5px;
    background-color: rgb(253, 210, 224);
    border: 2px solid rgb(255, 184, 209);
    transition: 300ms ease-in-out;
}

.collection-panel:hover {
    transform: scale(1.1);
    transition: 300ms ease-in-out;
    

}
.collection-panel img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

* {
    animation: transitionIn 2s
}


@keyframes transitionIn {
    from  {
        opacity: 0;
        transform: translateX(-30px);
        filter: blur(100);
    }
    
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
